.sign {
  display: flex;
}

.none {
  display: none;
}

.succes {
  color: red;
}

img {
  padding: 20px;
}

section {
  background-color: white;
  border-radius: 3%;
}

body {
  background-color: hsl(234, 29%, 20%);
  display: flex;
  justify-content: space-around;
}
